.page {
  .result-window {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background-color: #eee;

    &::before {
      content: "Resultat:";
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.calculate-button-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.calculate-button {
  flex-grow: 1;
  height: 100px;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  user-select: none;

  padding: 0.5rem;

  &.enabled {
    cursor: pointer;

    &:hover {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }
}
